body {
  color: black;
  display: table;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  /* background-image: url(./background.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  }

  .container1{
    margin-left: 15px;
  }

  #intro{
    color: black;
  }
  
  .container {
    text-align: center;
    padding: 10px;
  }
  
  .page-title {
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    margin-top: 5px;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
    width: 400px;
  }
  
  /* .button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
    width: 200px;
    margin-left: 15px;
  } */
  
  h2 {
    color: black;
    font-size: 20px;
  }

  .real{
    color: black;
    font-weight: bold;
  }

  .texto--padrao{
    margin-left: 15px;
    width: 800px;
    font-size: large;
  }

  .button1 {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 15px;
    width: 400px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .button1:hover {
    background-color: rgb(166, 166, 226);
    color: white;
  }

  .button2 {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: none;
    margin-left: 15px;
    width: 400px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .button2:hover {
    background-color: rgb(166, 166, 226);
    color: white;
  }